.introduct{
    background-color: #6D4BD8;
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: center;
height: 90vh;

}
.p__introduct p{
    width: 60%;
}
 
.introduct__one h1{
 
    font-size: 45px;
    line-height: 1.4;
color: white;
    font-weight: 700;

}
 
 
.yellow{
    width: 15%;
    right: 12%;
padding-top: 55px;
position: absolute;
    height: 67vh;
   }
   .p__introduct{
       width: 105%;
       font-family: 'Comfortaa';
       color: #ffffff94;
       font-size: 14px;
       font-weight: 400;
       padding-top: 28px;
   }
   .toggle-switch-container {
    align-content: center;
    padding-left: 8px;
  }
  
  .toggle-switch {
    margin: 0;
  }
  
  .toggle-switch {
    width: 15px;
    position: relative;
  }
  
  .toggle-switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  
  .toggle-switch input:checked {
    z-index: 1;
  }
  
  .toggle-switch input:checked + label {
    opacity: 1;
    cursor: default;
  }
  
  .toggle-switch input:not(:checked) + label:hover {
    opacity: 0.5;
  }
  
 
  
  .toggle-switch .toggle-outside {
     border-radius: 17px;
    padding: 8px;
  
    overflow: hidden;
     transition: opacity 0.3s ease-in-out;
  }
  
  .toggle-switch .toggle-inside {
    border-radius: 50%;
     position: absolute;
    transition: all 0.3s ease-in-out;
  }
  

  .switch-vertical input {
    height: 100%;
    width: 60px;
    right: 0;
    margin: 0;
  }
  
  
  .switch-vertical .toggle-outside {
     position: absolute;
     height:5vh;
     right: 0;
    border: 1px solid white;
    top: 0;
  }
  
  .switch-vertical .toggle-inside {
    height: 12px;
  
    left: 2px;
    background-color: white;
    top: 3px;
    width: 12px;
  }
  
  .switch-vertical input:checked ~ .toggle-outside .toggle-inside {
    top: 16px;

  }
  
  .switch-vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
    top: 13px;
  }
 .s__p{
     display: block;
     padding-top: 22px;
 }
  .swi__p{
      color: #FFE482;
      font-size: 18px;
      padding-top: 18px;
      font-family:'Montserrat-SemiBold' ;
      text-transform: uppercase;

  }
   